article {
    padding: 0%;
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
}
:host(.mobile) {
    font-size: 0.6125rem;
} 
:host(.mobile),
li {
    padding-top:1em;
} 
:host(.desktop) {
    font-size: 0.8125rem;
} 
