:host(.active) {
    background-color: #95CBFC;
    padding: 0.25rem 0.5rem;
    border-radius: 15rem;
    font-size: 0.55rem;
    font-weight: 700;
    line-height: normal;
    color: #080707;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
:host(.mobile) {
    font-size: 0.35rem;
} 
:host(.desktop) {
    font-size: 0.55rem;
} 